/*#app {
    max-width : 1024px;
    margin: 0 auto;
    padding: 10px 5px;
}
*/

.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid black;
}

.title-border-bottom {
  border-bottom: 1px solid #DCE0E0;
  padding-bottom: 10px;
}

.title-border-top {
  border-top: 1px solid #DCE0E0;
  padding-top: 10px;
}
.is-key {
  font-weight: 500;
  color: #767676
}
.is-value {
  font-weight: 500;
  color: black
}

.content-padding {
  padding: 0px 10px
}

.card-page-container {
  max-width: 950px;
  margin: 0 auto
}

.card-page-container-user {
  max-width: 875px;
  margin: 0 auto
}
.rating-star {
    color: #FBBB21;
    font-size: 14pt
}
